<div markdown="span" style='box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); padding: 15px; border-radius: 5px;'>
    <h2 class="func-name"> <code>type</code> {{name}} </h2>

    {{{description}}}
</div>

</br>