pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 0px;
}

.func-name {
  /* override mdbook default margin for h2/h3 */
  margin-top: 0em;
}

/* Annotations for a diagram or a snippet */
.ann {
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
}

/* custom css for the rust SectionFormat::Tabs option */
/* NOTE: variables used here are from mdbook's css */

.tab {
  overflow: hidden;
  border-left: 1px solid var(--theme-hover);
  border-right: 1px solid var(--theme-hover);
}

.tab button {
  color: var(--icons);
  background-color: var(--theme-hover);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  color: var(--icons-hover);
  background-color: var(--theme-hover);
}

.tab button.active {
  background-color: var(--theme-bg);
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid var(--theme-hover);
  border-top: none;
}
